<div class="first">

    <div id="first_1">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1 style="font-size: 3rem;">Welcome to Hyderabad</h1>
        <p style="font-size: 2rem;">The City if Pearls</p>
    </div>

    <div id="empty">

    </div>

   

   <div id="empty">

   </div>

</div>

<div class="about">
    <h1>About</h1>
    <p style="width: 50%; text-align: center;">"Hyderabad, the vibrant capital of Telangana, is renowned for its rich history, stunning architecture, and delectable cuisinei. This dynamic city seamlessly blends tradition and modernity, offering a unique cultural experience that captivates visitors from around the world."</p>

    <div id="about_3">
        <div id="card1">
            
        </div>

        <div id="card2">

        </div>

        <div id="card3">

        </div>
    </div>

</div>
