<div class="first">
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome to Hyderabad</h1>
    <p>The city of pearls</p>    
</div>

<div class="second">
    <h1>About</h1>
    <p style="width: 50%;">"Hyderabad, the vibrant capital of Telangana, is renowned for its rich history, stunning architecture, and delectable cuisinei. This dynamic city seamlessly blends tradition and modernity, offering a unique cultural experience that captivates visitors from around the world."</p>

    <div class="card">
        <div id="card1">
            <img src="assets/h.jpeg" id="card_img">
            <h2>history</h2>
            <h5>Hyderabad, founded in 1591 by Muhammad Quli Qutb Shah, has a rich heritage that blends various cultures and influences. Originally a center for the diamond and pearl trade, it became the capital of the Nizams, who were known for their opulence and patronage of arts and architecture.
            </h5>
        </div>

        <div id="card2">
            <img src="assets/g.jpg" id="card_img">
            <h2>Geography</h2>
            <h5>Located in the Deccan Plateau, Hyderabad is characterized by its rocky terrain and artificial lakes. The city has a tropical climate, with the best times to visit being from October to March when temperatures are mild.
            </h5>
        </div>

        <div id="card3">
            <img src="assets/d.jpg" id="card_img">
            <h2>Demographics</h2>
            <h5>"Hyderabad is one of the most diverse cities in India, with a population of over 10 million. The primary languages spoken are Telugu and Urdu, along with English, reflecting its multicultural fabric."
            </h5>
        </div>

    </div>
</div>



